<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaFS" version="2.2.6" targetFramework="net48" />
  <package allowedVersions="[3.0.3, 3.0.3]" id="log4net" version="3.0.3" targetFramework="net48" />
  <package allowedVersions="[13.0.3, 13.0.3]" id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Aggregation" version="2024.1.6" targetFramework="net48" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Aggregation.Redist" version="2024.1.6" targetFramework="net48" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Common" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Common.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Diagnostics" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Diagnostics.Log4Net" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Diagnostics.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Model" version="2024.1.6" targetFramework="net48" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Model.Redist" version="2024.1.6" targetFramework="net48" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Threading" version="2024.1.6" targetFramework="net48" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Threading.Redist" version="2024.1.6" targetFramework="net48" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Redist" targetFramework="net48" version="2024.1.6" />
  <package id="StrongNamer" version="0.2.5" targetFramework="net48" />
  <package id="Vsxmd" version="1.4.5" targetFramework="net48" developmentDependency="true" />
</packages>