<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaFS" targetFramework="net48" version="2.2.6" />
  <package allowedVersions="[3.0.3, 3.0.3]" id="log4net" targetFramework="net48" version="3.0.3" />
  <package allowedVersions="[13.0.3, 13.0.3]" id="Newtonsoft.Json" targetFramework="net48" version="13.0.3" />
  <package allowedVersions="[4.3.2, 4.3.2]" id="NUnit" targetFramework="net48" version="4.3.2" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Aggregation" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Aggregation.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Common" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Common.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Diagnostics" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Diagnostics.Log4Net" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Diagnostics.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Model" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Model.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Threading" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Threading.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Redist" targetFramework="net48" version="2024.1.6" />
  <package id="StrongNamer" targetFramework="net48" version="0.2.5" />
  <package allowedVersions="[4.6.1, 4.6.1]" id="System.Buffers" targetFramework="net48" version="4.6.1" />
  <package allowedVersions="[4.6.3, 4.6.3]" id="System.Memory" targetFramework="net48" version="4.6.3" />
  <package allowedVersions="[4.6.1, 4.6.1]" id="System.Numerics.Vectors" targetFramework="net48" version="4.6.1" />
  <package allowedVersions="[6.1.2, 6.1.2]" id="System.Runtime.CompilerServices.Unsafe" targetFramework="net48" version="6.1.2" />
  <package allowedVersions="[4.6.3, 4.6.3]" id="System.Threading.Tasks.Extensions" targetFramework="net48" version="4.6.3" />
  <package id="System.ValueTuple" targetFramework="net48" version="4.5.0" />
  <package developmentDependency="true" id="Vsxmd" targetFramework="net48" version="1.4.5" />
</packages>