<?xml version="1.0" encoding="utf-8"?>

<packages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <package id="AlphaFS" targetFramework="net48" version="2.2.6" />
    <package id="log4net" targetFramework="net48" version="2.0.15" />
    <package allowedVersions="[2023.0.4, 2023.0.4]" id="PostSharp" targetFramework="net48" version="2023.0.4" />
    <package allowedVersions="[2023.0.4, 2023.0.4]" id="PostSharp.Patterns.Common" targetFramework="net48"
             version="2023.0.4" />
    <package allowedVersions="[2023.0.4, 2023.0.4]" id="PostSharp.Patterns.Common.Redist" targetFramework="net48"
             version="2023.0.4" />
    <package allowedVersions="[2023.0.4, 2023.0.4]" id="PostSharp.Patterns.Diagnostics" targetFramework="net48"
             version="2023.0.4" />
    <package allowedVersions="[2023.0.4, 2023.0.4]" id="PostSharp.Patterns.Diagnostics.Log4Net" targetFramework="net48"
             version="2023.0.4" />
    <package allowedVersions="[2023.0.4, 2023.0.4]" id="PostSharp.Patterns.Diagnostics.Redist" targetFramework="net48"
             version="2023.0.4" />
    <package allowedVersions="[2023.0.4, 2023.0.4]" id="PostSharp.Redist" targetFramework="net48" version="2023.0.4" />
    <package developmentDependency="true" id="Vsxmd" targetFramework="net48" version="1.4.5" />
</packages>